body{
    margin: 20px;
    font-family:'Times New Roman', Times, serif

}
.img1{
    width: 160px;
}
.wrapper{
    
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 500px;
    text-align: center;
    border-bottom: 9px solid #d8cefe;
    background-color: #ddebf8;
    color: #2b2839;

}
